/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  margin: auto;
}

/* Estilos específicos para pantallas grandes */
@media screen and (min-width: 768px) {
  body {
      max-width: 50%;
  }
}

h1 {
  text-align: center;
  color: #0056b3;
  margin-bottom: 20px;
}

/* Resto de tus estilos... */

h2 {
  color: #444;
}

/* Estilos de las Secciones */
section {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*/* Estilos para las salas */
.room {
  background-color: #e7f3fe;
  border: 1px solid #b6d4fe;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.room-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #0056b3;
  font-weight: bold;
}

.room li {
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.room li:last-child {
  margin-bottom: 0;
}


/* Estilos para Formularios */
label, p {
  margin-bottom: .5em;
  font-weight: bold;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/* Botón */
button {
  display: inline-block;
  background: #0056b3;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #003d82;
}

/* Responsive Design */
@media (max-width: 600px) {
  body {
      padding: 15px;
  }

  input[type="text"], select, button {
      width: 100%;
  }
}